<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Hello World</h1>
<p>Welcome to <%= title %></p>
<form action="homepage" method="post">
    <p>
        <span>userId:</span>
        <br>
        <input id="userid" name="userid" type="text">
    </p>
    <p>
        <span>password:</span>
        <br>
        <input id="password" name="password" type="password">
    </p>
    <p><input type="submit" value="submit"></p>
</form>
</body>
</html>